<div class="row">
    <div class="col-md-12">
        <h1>Crédito</h1>
    </div>
</div>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-12">
            <h2>Calcule o seu crédito:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text" [value]="pegaValor" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-block" id = "descontar" (click)="calcula(-1,'descontar')">Descontar crédito</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Adicionar créditos</h3>
        </div>
    </div>

    <div class="row">
            <div class="col-md-4">
                    <button class="btn btn-block" (click)="calcula(1,'um')">R$ 1,00</button>
            </div>
            <div class="col-md-4">
                    <button class="btn btn-block" (click)="calcula(10,'dez')">R$ 10,00</button>
            </div>
            <div class="col-md-4">
                    <button class="btn btn-block" (click)="calcula(100,'cem')">R$ 100,00</button>
            </div>
        </div>

</div>