<div class="row">
    <div class="col-md-12">
        <h1>Crédito</h1>
    </div>
</div>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-12">
            <h2>Calcule o seu crédito:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text" [value]="'R$ ' + pegaValor" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-block btn-danger" id = "descontar" (click)="calcula(-1)">Descontar crédito</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Adicionar créditos</h3>
        </div>
    </div>

    <div class="row">
            <div class="col-md-4">
                    <button class="btn btn-block btn-warning" (click)="calcula(1)">R$ 1,00</button>
            </div>
            <div class="col-md-4">
                    <button class="btn btn-block btn-success" (click)="calcula(10)">R$ 10,00</button>
            </div>
            <div class="col-md-4">
                    <button class="btn btn-block btn-info" (click)="calcula(100)">R$ 100,00</button>
            </div>
        </div>

</div>