/* You can add global styles to this file, and also import other style files */

body{
    background: linear-gradient(to bottom right, aquamarine, turquoise, mediumturquoise, darkturquoise);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    color: white;
}